@model List<ResultRoomDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    int count = 0;
}

<div class="container-fluid">
    <div class="row">

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Odalar</h4>
                    <div class="table-responsive">
                        <table class="table header-border">
                            <thead>
                                <tr>
                                    
                                    <th scope="col">Title</th>
                                    <th scope="col">Oda sayısı</th>
                                    <th scope="col">Banyo sayısı</th>
                                    <th scope="col">Oda Numara</th>
                                    <th scope="col">Görsel</th>
                                    <th scope="col">Güncelle</th>
                                    <th scope="col">Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var x in Model)
                                {
                                    
                                    <tr>
                                         
                                        <td>@x.Title</td>
                                        <td>@x.BedCount</td>
                                        <td>@x.BoatCount</td>
                                        <td>@x.RoomNumber</td>
                                        <td>
                                            <img src="@x.RecoverImage" style="width:75px; height:75px;" />
                                        </td>
                                        <td>
                                            <a href="/AdminRoom/UpdateRoom/@x.RoomId" type="button" class="btn mb-1 btn-warning">Güncelle <span class="btn-icon-right"><i class="fa fa-pencil"></i></span> </a>
                                        </td>
                                        <td>
                                            <a href="" type="button" class="btn mb-1 btn-danger">Sil <span class="btn-icon-right"><i class="fa fa-close"></i></span> </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/AdminRoom/AddRoom/" class="btn mb-1 btn-primary"> Yeni Oda ekle<span class="btn-icon-right"><i class="fa fa-plus"></i> </span> </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

